/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Variables CSS  */
:root {
  --primary-color: #39aae1;
  --secondary-color: #0079c7;
  --gray-color: #727272;
  --tertiary-color: #2b4c99;
  --primary-font-color: #fff;
  --secondary-font-color: #000;
  --footerbg-color: #1e1e1e;
  --shadow-color: #555;
  --font-family: Arial, sans-serif;
}

body {
  font-family: var(--font-family);
}

/* Header Content */
header {
  display: flex;
  justify-content: center;
  height: 120px;
}

.menu_mobile {
  display: none;
  width: 40px;
  height: 40px;
  margin: 40px 20px 40px 0px;
}

.menu_mobile_line {
  height: 2px;
  background-color: var(--primary-color);
}

.container {
  display: flex;
  justify-content: space-between;
  width: 990px;
}

.logo {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0;
  padding: 0;
}

nav a {
  display: block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--gray-color);
}

nav .active a,
nav a:hover {
  background-color: var(--primary-color);
  color: var(--primary-font-color);
}

/* Banner Content */

#banner {
  display: flex;
  justify-content: center;
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-position: center;
  height: 670px;
}

.column {
  flex-direction: column;
}

.banner_headline {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.banner_headline h1 {
  color: var(--primary-font-color);
  font-size: 70px;
  text-shadow: 0px 2px 0px var(--shadow-color);
  max-width: 350px;
}

.banner_headline h2 {
  color: var(--primary-font-color);
  font-size: 21px;
  text-shadow: 0px 2px 0px var(--shadow-color);
  max-width: 350px;
  margin-top: 30px;
}

.banner_options {
  display: flex;
  height: 210px;
}

.banner1,
.banner2,
.banner3 {
  flex: 1;
  color: var(--primary-font-color);
  padding: 20px;
}

.banner1 {
  background-color: var(--primary-color);
}

.banner2 {
  background-color: var(--secondary-color);
}

.banner3 {
  background-color: var(--tertiary-color);
}

.banner_title {
  font-size: 21px;
}

.banner_description {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 12px;
}

.banner_options a {
  display: inline-block;
  text-decoration: none;
  color: var(--primary-font-color);
  border: 1px solid var(--primary-font-color);
  font-size: 15px;
  padding: 5px;
}

.hour_description {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--gray-color);
}

/* General Content */

#general {
  display: flex;
  justify-content: center;
}

#general section {
  flex: 2;
}

#general aside {
  flex: 1;
}

.widget_title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.widget_title_text {
  color: var(--secondary-font-color);
  font-size: 21px;
  font-weight: bold;
}

.widget_title_bar {
  width: 50px;
  height: 2px;
  margin-top: 10px;
  background-color: var(--primary-color);
}

/* News Content */

article a {
  text-decoration: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

article {
  flex: 1;
  min-width: 300px;
  margin-right: 20px;
}

article .news_data {
  display: flex;
}

article .news_posted_at {
  background-color: var(--tertiary-color);
  color: var(--primary-font-color);
  font-size: 12px;
  padding: 10px;
}

article .news_posted_at::after {
  /* Date bottom blue effect */
  content: "";
  display: block;
  position: absolute;

  background-color: var(--tertiary-color);
  margin-left: -10px;
  margin-top: -5px;
  width: 25px;
  height: 25px;

  clip-path: polygon(0 50%, 50% 50%, 0% 100%);
}

article .news_comments {
  background-color: var(--primary-color);
  color: var(--primary-font-color);
  font-size: 12px;
  padding: 10px;
  margin-left: 2px;
}

article .news_thumbnail {
  margin-top: 30px;
}

article .news_thumbnail img {
  width: 100%;
  height: auto;
}

article .news_title {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 23px;
  color: var(--secondary-font-color);
}

article .news_resume {
  font-size: 14px;
  color: var(--shadow-color);
  line-height: 19px;
  margin-bottom: 30px;
}

/* Aside Content */

aside .aside_thumbnail {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 15px 10px 0px;
  max-width: 150px;
  padding: 5px;
}

.aside_thumbnail img {
  width: 100%;
  height: auto;
}

.aside_widget a {
  font-size: 14px;
  display: block;
  text-decoration: none;
  color: var(--gray-color);
}

/* Contacts Content */

.contacts {
  margin-top: 40px;
  font-size: 13px;
}

.contacts_description {
  margin-bottom: 20px;
  border-bottom: 1px solid var(--gray-color);
  line-height: 19px;
  height: 30px;
  color: var(--gray-color);
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.contacts_description img {
  max-width: 22px;
}

.contacts_text {
  margin-left: 10px;
}

/* Footer Content */

footer {
  display: flex;
  justify-content: center;
  background-color: var(--footerbg-color);
}

.footer_menu {
  display: flex;
}

.footer_menu a {
  display: block;
  text-decoration: none;
  color: var(--primary-font-color);
  padding: 20px;
  font-size: 20px;
}

.footer_menu1,
.footer_menu2,
.footer_menu3 {
  flex: 1;
  color: var(--primary-font-color);
}

.footer_menu1 {
  background-color: var(--primary-color);
}

.footer_menu2 {
  background-color: var(--secondary-color);
}

.footer_menu3 {
  background-color: var(--tertiary-color);
}

footer .footer_menu_description {
  display: flex;
  padding: 20px 20px 20px 0;
  font-size: 14px;
}

.flexColumn {
  flex-direction: column;
}

.footer_area {
  display: flex;
}

.footer_area_item {
  flex: 1;
  color: var(--primary-font-color);
  margin-top: 20px;
}

footer .widget_title_text {
  color: var(--primary-font-color);
}

.footer_body {
  color: var(--gray-color);
  font-size: 14px;
}

.footer_body_item {
  margin-top: 20px;
}

.footer_adress {
  display: flex;
  margin-top: 10px;
}

.footer_phone_number1 {
  margin-left: 70px;
}

.footer_phone_number2 {
  margin-left: 110px;
}

.footer_email {
  margin-left: 60px;
  color: var(--primary-font-color);
}

.footer_body_social {
  display: flex;
}

.footer_body_social img {
  margin-top: 50px;
  width: 50px;
  height: 50px;
  background-color: var(--primary-font-color);
  margin-right: 10px;
  padding: 7px;
}

.widget_footer_body {
  display: flex;
}

.footer_latest_post {
  padding-left: 10px;
  padding-right: 20px;
}

.footer_time_post {
  margin-top: 10px;
  margin-left: 25px;
  color: var(--secondary-color);
  margin-bottom: 30px;
}

.footer_copy {
  display: flex;
  margin-top: 20px;
  height: 40px;
  line-height: 40px;
  border-top: 1px solid var(--shadow-color);
  color: var(--gray-color);
  font-size: 12px;
}

.footer_copy_white {
  color: var(--primary-font-color);
  padding-left: 7px;
  padding-right: 7px;
}

.footer_copy_gray {
  color: var(--gray-color);
}


/*MOBILE CONTENT*/


@media (max-width:600px) {

  /*HEADER CONTENT*/

  header .container {
    flex-direction: row;
  }

  nav ul {
    flex-direction: column;
    display: none;
    position: absolute; /* Elemento fica por cima de todos os outros*/
    left: 0; /* Posicionamento total a esquerda */
    width: 100%;
    background-color: var(--primary-font-color);
  }

  header {
    height: auto;
  }

  .logo {
    padding-left: 20px;
  }

  .menu_mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  /*BANNER CONTENT*/
  .banner_headline h1 {
    font-size: 55;
  }

  .banner_headline h2 {
    font-size: 17;
  }

  .banner_options {
    height: auto;
    flex-direction: column;
  }

  .banner_headline {
    padding: 20px;
  }

  /*CONTAINER CONTENT*/
  .container {
    flex-direction: column;
  }

  #general {
    padding-top: 170px;
  }

  #general section,
  #general aside {
    padding: 20px;
  }


  /*FOOTER CONTENT*/

  .footer_menu,
  .footer_area {
    flex-direction: column;
  }

  .footer_area {
    padding: 0px 20px 20px 20px;
  }

  .footer_copy {
    padding-left: 20px;
  }

}